<div class="container">
  <%= form_for @block, html: { class: 'form-horizontal' } do |f| %>
    <%= f.hidden_field :template %>

    <% @block.fields.each do |field, options| %>
      <%= render partial: "superb_text_constructor/blocks/fields/#{options['type']}", locals: { f: f, field: field, options: options } %>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Back', root_path, class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>