<div class="container">
  <div class="blocks" data-reorder-url="<%= reorder_blocks_path %>">
    <%= render partial: 'superb_text_constructor/blocks/editor/block', collection: @blocks, as: :block %>
  </div>
</div>

<div class="container">
  <% SuperbTextConstructor.blocks_for(@parent.class.name.underscore).group_by { |block, options| (options || {})['group'] }.each do |group, blocks| %>
    <% if group.present? %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <%= group %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% blocks.each do |block, options| %>
           <li><%= link_to block, new_block_path(template: block) %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <% blocks.each do |block, options| %>
        <%= link_to block, new_block_path(template: block), class: 'btn btn-default' %>
      <% end %>
    <% end %>
  <% end %>
</div>