<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'WYSIWYG', post_superb_text_constructor_path(post, namespace: :default) %></td>
        <td><%= link_to 'WYSIWYG without headers', post_superb_text_constructor_path(post, namespace: :no_headers) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
